:root {
  --curseforge: #eb622b;
  --modrinth: #4dd66f;
  --gorp-brand: #ade344;
  --secondary-brand: #00a2ff;
  --vp-c-brand-1: var(--gorp-brand);
  --vp-c-brand-2: var(--gorp-brand);
  --vp-button-brand-bg: #7cc539;
  --vp-home-hero-name-color: var(--vp-c-text-1);
  --vp-home-hero-image-background-image: linear-gradient(180deg, #76c94555 50%, #bbff1155 50%);
  --vp-home-hero-image-filter: blur(44px);
  --vp-c-text-1: #fff;
  --vp-sidebar-width: 300px;
  --vp-nav-height: 52px;
  /* light is treated as "default" */
  scrollbar-color: #76c945 #00000000;
}
.VPButton.brand {
  text-shadow: 1px 1px 3px rgb(0 0 0 / 30%);
}
.VPButton.medium, .custom-block {
  border-radius: 0px!important;
}
