.VPContent.is-home[data-v-98ddab3d] {
  height: 100vh;
}
.heading {
  align-items: flex-end;
}
.custom-block.tip a {
  color: var(--gorp-brand);
}
.curseforge {
  border-radius: 50px;
  background: var(--curseforge);
  box-shadow:  20px 20px 60px #2b2e36,
  -20px -20px 60px #3a3e48;
}
.modrinth {
  border-radius: 50px;
  background: var(--modrinth);
  box-shadow:  20px 20px 60px #2b2e36,
  -20px -20px 60px #3a3e48;
}
.VPImage.logo {
  shape-rendering: crispEdges;
  min-width:32px;
  min-height:32px;
}
.item.grid-3 .box[data-v-549c013f]> .VPImage{
  transition: filter 0.25s;
}
.item.grid-3 .box[data-v-549c013f]:hover > .VPImage {
  filter: saturate(0) brightness(2.5);
}
@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
  .tagline {
    justify-content: center;
    text-align: center;
  }
  .actions {
    justify-content: center!important;
  }
}

.lastascensionbanner {
  display: fixed;
  top: -20px;
  padding-bottom: 15px;
  object-fit: cover;
  width: 100%;
  height: 110px!important;
}
.adtext {
  margin: 0!important;
  position: relative;
  bottom: 4px;
  padding: 0!;
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
  .tagline {
    justify-content: flex-end;
    text-align: end;
  }
  .actions {
    justify-content: flex-end!important;
  }
}

@media (min-width: 1280px) {

}
/* Target the third feature item in the grid */
.item.grid-3:nth-child(1) .VPFeature.link:hover{
  border-color: #eb622b;
  background-color: #eb622b55;
  z-index: 10;
}
.item.grid-3:nth-child(2) .VPFeature.link:hover{
  border-color: #4dd66f;
  background-color: #4dd66f55;
  z-index: 10;
}
.item.grid-3:nth-child(3) .VPFeature.link:hover{
  border-color: #ff4b62;
  background-color: #ff4b6255;
  z-index: 10;
}
.item.grid-3 .VPFeature.link {
  border-radius: 0px;
}
/*.item.grid-3:nth-child(1) article {
  border-radius: 12px;;
  transition: background-color 0.25s ease-in;
}
.item.grid-3:nth-child(1) article:hover{
  transition: background-color 0.25s ease-out;
  background-color: var(--curseforge);
}*/
